
*{
    background-color: #ffffff;   
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
body{
    margin:0;
}


.subrayado{
    text-decoration: underline;
}

nav> p{
    cursor: pointer;
}
.aleo-l {
    font-size: 2em;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
  }

#contenedor{
    display:flex;
    justify-content: center;
    width: 93%;
    padding: 0.5em;
    top: 1em;
    font-family: 'MV boli regular',Georgia, 'Times New Roman', Times, serif;
    font-size:1.2em;
    /*text-decoration:underline black;*/
}
#contenedor > nav{   
    display:flex;
    justify-content: space-between;
    width: 60%;
}


/*Inicio*/

#inicio{
    width:98%;
    z-index: 19999999;
}

#inicio > img{
    opacity: 1;
    width:97%;
    padding-left: 0.2em;
}

#inicio #nombres{
    position: absolute;
    margin: 0;
    width: 25%;
    left:25%;
    top:210px;
    opacity: 1;
}

.linea-vertical {
    width: 2px; 
    height: 75.3%;
    background-color: black; 
    position: absolute;
    top:100px;
    left:30%;
    transform: translateX(-50%);
}

.linea-horizontal {
    border: 0;
    height: 2px;
    background-color: black;
    margin: 20px 30%;
    width: 30%;
    position: absolute;
    top:86.5%;
}

#inicio > #fecha{
    position: absolute;
    top:83%;
    left: 62%;
}

#cuentatras{
    position: relative;
    text-align: center;
    top: 800px;
    width: 80%;
    left: 10%;
}

#countdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#countdown > div{
    background: transparent;
    flex-basis: 25%;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
    font-size: 2em;
}

#countdown > div:nth-of-type(1) {
    font-size: 5em;
}
#countdown > div:nth-of-type(2) {
    font-size: 5em;
}
#countdown > div:nth-of-type(3) {
    font-size: 5em;
}
#countdown > div:nth-of-type(4) {
    font-size: 5em;
}

#h1asistir{
    position: absolute;
    margin: 0;
    width: 25%;
    left:25%;
    top:210px;

}


/*Asistencia*/



#asistencia{
    background-color: #ffffff;
    z-index: 19999999;
}
form{
    display: block;
    width:99%;
    text-align: center;
    font-size: 1.2em;
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
}

p>#asi{
    display:inline;
    padding-right: 5em;
}
input[type="text"]{
    width:50%;
    border:#222;
    border-bottom: 2px solid rgb(0, 0, 0);
    background:transparent;
}
input[type="text"]:focus{
    outline:none;
}

a{
    color: black;
}
a:visited{
    color: black;
}

#asistente{
    display: flex;
    justify-content: space-around;
}


#asistente > span{
    margin-top: 2px;
}

#bab{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
}

#otrapersona{
    display: flex;
    width: 50%;
}

#figelim{
    margin-top:15px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: #000000;
}

#añadirotro{
    display: flex;
    justify-content: center;
    cursor:pointer;
    text-align: center;
    cursor: pointer;
}
#añadirotro > p{
    margin: 0;
}



#figelim > button > p{
    margin:0;
}


button {
    text-align: center;
    color:#ffffff;
    background-color:black;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1em;
}
  
button:hover {
    background-color: #ffffff; /* Nuevo color de fondo al pasar el ratón */
    color:#000000;
    border-color: #000000;
    cursor: pointer;
}


/*Iglesia*/

#LIglesia>img{
    opacity: 0.8;
    position: absolute;
    margin: 0;
    width: 50%;
    left:50%;
    top:100px;
}
#ceremonia{
    margin-left: 2em;
    width: 40%;
}

#h1linea{
    position: absolute;
    margin: 0;
    width: 25%;
    left:25%;
    top:210px;
}

#ceremonia > h2{
    font-size: 2em;
}
#ceremonia > h2:nth-of-type(1){
    position: absolute;
    background-color: #ffffff;
    top:580px;
    left:60%;
}
#ceremonia > h2:nth-of-type(2){
    position: absolute;
    background-color: #ffffff;
    top:620px;
    left:60%;
}
#ceremonia > a{
    position: absolute;
    background-color: #ffffff;
    top:655px;
    left:16%;
}

#LIglesia > p{
    position: absolute;
    margin: 20px;
    font-size: 1.5em;
    top:800px;
}
#LIglesia >#parkings{
    position: absolute;
    top:1000px;
}
#LIglesia >#parkings, h2{
    padding-left: 10px;
}
#LIglesia >#par{
    position: absolute;
    display: flex;
    width: 96%;
    justify-content: space-between;
    padding-left: 10px;
}
#LIglesia > button{
    margin-left: 2em;
}

/*Restaurante*/



/*Regalo*/

#LRegalo > h2{
    position:relative;
    top:620px;
}


/*Footer*/

footer img{
    position:relative;
    width: 13%; 
    top:1000px;
    left: 33%;
    padding: 1em;
    padding-bottom: 3em;
}



@media screen and (max-width:1200px){
    .linea-horizontal {
        width: 30%;
        top:627px;
    }

    footer img{
        left: 40%;
        top:800px;
    }
    footer img{
        top:850px;
    }

}

@media screen and (max-width:836px){
    #contenedor > nav{   
        width: 70%;
    }
    #nav>p{
        font-size: 12px;
    }
    #countdown > div{
        font-size: 1em;
    }

    #countdown > div:nth-of-type(1) {
        font-size: 3em;
    }
    #countdown > div:nth-of-type(2) {
        font-size: 3em;
    }
    #countdown > div:nth-of-type(3) {
        font-size: 3em;
    }
    #countdown > div:nth-of-type(4) {
        font-size: 3em;
    }
    .linea-horizontal {
        width: 30%;
        top:627px;
    }

    
}


@media screen and (max-width:560px){
    #contenedor{
        width: 95%;
    }
    #contenedor > nav{   
        width: 90%;
    }
    #nav>p{
        font-size: 13.5px;
    }
    #inicio #nombres{
        width: 50%;
        left:3.5%;
        top:210px;
    }
    .linea-vertical {
        height: 500px;
        top:99px;
        left:20%;
    }

    .linea-horizontal {
        width: 30%;
        top:577px;
        margin: 20px 20%;
    }

    #inicio > #fecha{
        position: absolute;
        top:560px;
        left: 53%;
        font-size: 1.5em;
    }


    #cuentatras{
        top: 600px;
        width: 75%;
        margin-left: 7%;
    }

    #countdown{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #countdown > div{
        background: transparent;
        flex-basis: 25%;
        box-sizing: border-box;
        padding-left: 10px;
        text-align: center;
        font-size: 0.5em;
    }

    #countdown > div:nth-of-type(1) {
        font-size: 1.5em;
    }
    #countdown > div:nth-of-type(2) {
        font-size: 1.5em;;
    }
    #countdown > div:nth-of-type(3) {
        font-size: 1.5em;;
    }
    #countdown > div:nth-of-type(4) {
        font-size: 1.5em;;
    }

    #h1linea{
        width: 25%;
        left:11.5%;
    }

    #persona> h1{
        font-size: 1em;
    }

    #otrapersona{
        font-size: 1em; 

    }

    #figelim{
        padding: 2px 8px; /* Tamaño del relleno */
        font-size: 12px; /* Tamaño del texto */
        line-height: 1.5; /* Altura de la línea */ padding: 5px 10px; /* Tamaño del relleno */
    }

    #figelim span{
        font-size: 15px; /* Tamaño del texto */
    }

    /*Asistencia*/

    #ceremonia > h2{
        font-size: 1em;
    }
    #ceremonia > h2:nth-of-type(1){
        position: absolute;
        background-color: #ffffff;
        top:572px;
        left:50%;
        width: 100px;
    }
    #ceremonia > h2:nth-of-type(2){
        background-color: #ffffff;
        top:652px;
        left:25%;
    }
    #ceremonia > a{
        background-color: #ffffff;
        top:690px;
        left:29%;
    }

    #ceremonia > span{
        position: absolute;
        font-size: 1.2em;
        z-index: 5;
    }
    #ceremonia > span:nth-of-type(1){
        top:663px;
        left:21%;
    }
    #ceremonia > span:nth-of-type(2){
        top:690px;
        left:21%;
    }

    footer img{
        top:650px;
        width: 20%; 
    }
}