
*{
    background-color: #ffffff;   
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
body{
    margin:0;
}


.subrayado{
    text-decoration: underline;
}

nav> p{
    cursor: pointer;
}
.aleo-l {
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
  }

#contenedor{
    display:flex;
    justify-content: center;
    width: 93%;
    padding: 0.5em;
    top: 1em;
    font-family: 'MV boli regular',Georgia, 'Times New Roman', Times, serif;
    font-size:1.2em;
    /*text-decoration:underline black;*/
}
#contenedor > nav{   
    display:flex;
    justify-content: space-between;
    width: 60%;
}


/*Inicio*/

#inicio{
    width:98%;
    z-index: 19999999;
}

#inicio > img{
    opacity: 1;
    width:97%;
    padding-left: 0.2em;
}

#inicio #nombres{
    position: absolute;
    margin: 0;
    width: 25%;
    opacity: 1;
    width: 20%;
    left: 13.6%;
    top:210px;
}

.linea-vertical {
    width: 2px; 
    height: 75.3%;
    background-color: black; 
    position: absolute;
    top:100px;
    left:20%;
    transform: translateX(-50%);
}

.linea-horizontal {
    border: 0;
    height: 2px;
    background-color: black;
    margin: 20px 20%;
    width: 30%;
    position: absolute;
    top:86%;
}

#inicio > #fecha{
    position: absolute;
    top:82%;
    left: 51%;
}

#cuentatras{
    position: relative;
    text-align: center;
    top: 700px;
    width: 70%;
    padding-left: 20%;
    padding-right: 10%;
}

#countdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#countdown > div{
    background: transparent;
    flex-basis: 25%;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
    font-size: 1.5em;
}

#countdown > div:nth-of-type(1) {
    font-size: 2em;
}
#countdown > div:nth-of-type(2) {
    font-size: 2em;
}
#countdown > div:nth-of-type(3) {
    font-size: 2em;
}
#countdown > div:nth-of-type(4) {
    font-size: 2em;
}

#h1asistir{
    position: absolute;
    margin: 0;
    width: 25%;
    left:25%;
    top:210px;
}


/*Asistencia*/



#asistencia{
    background-color: #ffffff;
    z-index: 19999999;
}
form{
    display: block;
    width:99%;
    text-align: center;
    font-size: 1.2em;
}

h1{
    font-size: 2em;
}

p>#asi{
    display:inline;
    padding-right: 5em;
}
input[type="text"]{
    width:50%;
    border:#222;
    border-bottom: 2px solid rgb(0, 0, 0);
    background:transparent;
}
input[type="text"]:focus{
    outline:none;
}

a{
    color: black;
}
a:visited{
    color: black;
}

#asistente{
    display: flex;
    justify-content: space-around;
}


#asistente > span{
    margin-top: 2px;
}

#bab{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
}

#otrapersona{
    display: flex;
    width: 50%;
}

#figelim{
    margin-top:15px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: #000000;
}

#añadirotro{
    display: flex;
    justify-content: center;
    cursor:pointer;
    text-align: center;
    cursor: pointer;
}
#añadirotro > p{
    margin: 0;
}



#figelim > button > p{
    margin:0;
}


button {
    text-align: center;
    color:#ffffff;
    background-color:black;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1em;
}
  
button:hover {
    background-color: #ffffff; /* Nuevo color de fondo al pasar el ratón */
    color:#000000;
    border-color: #000000;
    cursor: pointer;
}


/*Iglesia*/

#LIglesia>img{
    opacity: 0.8;
    position: absolute;
    margin: 0;
    width: 50%;
    left:50%;
    top:100px;
}
#ceremonia{
    margin-left: 2em;
    width: 40%;
}

#h1linea{
    position: absolute;
    margin: 0;
    width: 25%;
    left:18%;
    top:210px;
}

#ceremonia > h2{
    font-size: 2em;
}
#ceremonia > h2:nth-of-type(1){
    position: absolute;
    background-color: #ffffff;
    top:580px;
    left:60%;
}
#ceremonia > h2:nth-of-type(2){
    position: absolute;
    background-color: #ffffff;
    top:620px;
    left:60%;
}
#ceremonia > a{
    position: absolute;
    background-color: #ffffff;
    top:655px;
    left:16%;
}

#LIglesia > p{
    position: absolute;
    margin: 20px;
    font-size: 1.5em;
    top:800px;
}
#LIglesia >#parkings{
    position: absolute;
    top:800px;
}

#parkings >#par{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    justify-content: space-between;
}
#LIglesia > button{
    margin-left: 2em;
}

/*Restaurante*/



/*Regalo*/

#LRegalo > h2{
    position:relative;
    top:620px;
}


#logoA{
    top:80px;
    width: 10%; 
    left: 44%;
}

#logoIn{
    top: 850px;
    width: 10%; 
    left: 44%;
}

#logoIg{
    top:1250px;
    width:10%; 
    left: 39%;
}

#logoR{
    top:720px;
    width: 10%; 
    left: 44%;
}
#logoRg{
    top: 750px;
    width: 10%; 
    left: 44%;
}
#wapp{
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-left: 25%;
}
#wapp > h2, #numtel > h2{
    font-size: 18px;
    margin: 0;
}
#numtel {
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-left: 9%;
}

#vienes{
    font-size: 1.8em;
    position: absolute;
    top: 554px;
    left: 51%;
}

/*Iglesia*/

#ceremonia > h2{
    font-size: 1.8em;
}
#ceremonia > h2:nth-of-type(1){
    position: absolute;
    background-color: #ffffff;
    top:564px;
    left:51%;
    width: 200px;
}
#ceremonia > h2:nth-of-type(2){
    background-color: #ffffff;
    top:720px;
    left:35%;
}
#ceremonia > a{
    background-color: #ffffff;
    top:780px;
    font-size: 1.5em;
    left:35%;
}

#ceremonia > span{
    position: absolute;
    font-size: 1.9em;
    z-index: 5;
}
#ceremonia > span:nth-of-type(1){
    top:745px;
    left:30%;
}
#ceremonia > span:nth-of-type(2){
    top:779px;
    left:30%;
}

#LIglesia>#parkings{
    position: absolute;
    top:850px;
    padding: 20px;
}

#parkings>p{
    font-size: 1.5em;
    text-align: justify;
}
#par > a{
    font-size: 1.2em;
}

/*Restaurante*/
#LRest > h2{
    font-size: 1.8em;
    position: absolute;
    top:598px;
    left:51%;
}

#pinnom{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;    
    top: 700px;
    left: 30%;

}

/*Regalo*/
#LRegalo > h2{
    font-size: 1.8em;
    margin-top: 0;
    text-align: center;
    top:690px;
}
#LRegalo > h2:nth-of-type(1){
    position: absolute;
    text-align: left;
    top:622px;
    left: 51%;
    padding-left: 0;
}




/*Footer*/

footer img{
    position:relative;
    width: 13%; 
    padding-bottom: 3em;
}



@media screen and (max-width:1200px){
    #contenedor > nav{   
        width: 80%;
    }
    #nav>p{
        font-size: 18px;
    }
    .linea-horizontal {
        width: 30%;
        top:627px;
    }
    #countdown > div{
        font-size: 1em;
        width: 50%;
        background: transparent;
        flex-basis: 25%;
        box-sizing: border-box;
        padding-left: 10px;
    }
    #h1linea{
        width: 25%;
        left:15.6%;
    }


    #inicio #nombres{
        left:10.5%;
        width: 30%;
    }
    #vienes{
        font-size: 1.8em;
        position: absolute;
        top: 554px;
        left: 51%;
    }

    footer img{
        left: 40%;
        top:800px;
    }

    #logoA{
        top:80px;
        width: 20%; 
        left: 40%;
    }

    #logoIn{
        top: 850px;
        width: 20%; 
        left: 40%;
    }

    #logoIg{
        top:1250px;
        width: 20%; 
        left: 34%;
    }

    #logoR{
        top:720px;
        width: 20%; 
        left: 40%;
    }
    #logoRg{
        top: 750px;
        width: 20%; 
        left: 40%;
    }
    #wapp{
        display: flex;
        justify-content: space-between;
        width: 76%;
        padding-left: 23%;
    }
    #wapp > h2, #numtel > h2{
        font-size: 18px;
        margin: 0;
    }
    #numtel {
        font-size: 0.8em;
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding-left: 9%;
    }


    /*Iglesia*/
    
    #ceremonia > h2{
        font-size: 1.8em;
    }
    #ceremonia > h2:nth-of-type(1){
        position: absolute;
        background-color: #ffffff;
        top:564px;
        left:51%;
        width: 200px;
    }
    #ceremonia > h2:nth-of-type(2){
        background-color: #ffffff;
        top:720px;
        left:35%;
    }
    #ceremonia > a{
        background-color: #ffffff;
        top:780px;
        font-size: 1.5em;
        left:35%;
    }

    #ceremonia > span{
        position: absolute;
        font-size: 1.9em;
        z-index: 5;
    }
    #ceremonia > span:nth-of-type(1){
        top:745px;
        left:30%;
    }
    #ceremonia > span:nth-of-type(2){
        top:779px;
        left:30%;
    }

    #LIglesia>#parkings{
        position: absolute;
        top:850px;
        padding: 20px;
    }

    #parkings>p{
        font-size: 1.5em;
        text-align: justify;
    }
    #par > a{
        font-size: 1.2em;
    }

    /*Restaurante*/
    #LRest > h2{
        font-size: 1.8em;
        position: absolute;
        top:598px;
        left:51%;
    }

    #pinnom{
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;    
        top: 700px;
        left: 30%;

    }
    
    /*Regalo*/
    #LRegalo > h2{
        font-size: 1.8em;
        margin-top: 0;
        text-align: center;
        top:690px;
    }
    #LRegalo > h2:nth-of-type(1){
        position: absolute;
        text-align: left;
        top:622px;
        left: 51%;
        padding-left: 0;
    }

}

@media screen and (max-width:836px){
    #contenedor > nav{   
        width: 90%;
    }
    #nav>p{
        font-size: 18px;
    }

    #cuentaatras{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #countdown > div{
        font-size: 1em;
        
    }
    #inicio #nombres{
        left:10%;
        width: 30%;
    }

    #countdown > div:nth-of-type(1) {
        font-size: 2em;
    }
    #countdown > div:nth-of-type(2) {
        font-size: 2em;
    }
    #countdown > div:nth-of-type(3) {
        font-size: 2em;
    }
    #countdown > div:nth-of-type(4) {
        font-size: 2em;
    }
 
    #h1linea{
        width: 25%;
        left:14.5%;
    }

    .linea-horizontal {
        width: 30%;
        top:627px;
    }
    #vienes{
        font-size: 1.5em;
        position: absolute;
        top: 570px;
        left: 51%;
    }

    #logoA{
        top:80px;
        width: 20%; 
        left: 40%;
    }

    #logoIn{
        top: 850px;
        width: 20%; 
        left: 40%;
    }

    #logoIg{
        top:1250px;
        width: 20%; 
        left: 34%;
    }

    #logoR{
        top:720px;
        width: 20%; 
        left: 40%;
    }
    #logoRg{
        top: 750px;
        width: 20%; 
        left: 40%;
    }
    #wapp{
        display: flex;
        justify-content: space-between;
        width: 76%;
        padding-left: 23%;
    }
    #wapp > h2, #numtel > h2{
        font-size: 18px;
        margin: 0;
    }
    #numtel {
        font-size: 0.8em;
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding-left: 9%;
    }


    /*Iglesia*/
    
    #ceremonia > h2{
        font-size: 1.8em;
    }
    #ceremonia > h2:nth-of-type(1){
        position: absolute;
        background-color: #ffffff;
        top:564px;
        left:51%;
        width: 200px;
    }
    #ceremonia > h2:nth-of-type(2){
        background-color: #ffffff;
        top:720px;
        left:35%;
    }
    #ceremonia > a{
        background-color: #ffffff;
        top:780px;
        font-size: 1.5em;
        left:35%;
    }

    #ceremonia > span{
        position: absolute;
        font-size: 1.9em;
        z-index: 5;
    }
    #ceremonia > span:nth-of-type(1){
        top:745px;
        left:30%;
    }
    #ceremonia > span:nth-of-type(2){
        top:779px;
        left:30%;
    }

    #LIglesia>#parkings{
        position: absolute;
        top:850px;
        padding: 20px;
    }

    #parkings>p{
        font-size: 1.5em;
        text-align: justify;
    }
    #par > a{
        font-size: 1.2em;
    }

    /*Restaurante*/
    #LRest > h2{
        font-size: 1.8em;
        position: absolute;
        top:598px;
        left:51%;
    }

    #pinnom{
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;    
        top: 700px;
        left: 30%;

    }
    
    /*Regalo*/
    #LRegalo > h2{
        font-size: 1.8em;
        margin-top: 0;
        text-align: center;
        top:690px;
    }
    #LRegalo > h2:nth-of-type(1){
        position: absolute;
        text-align: left;
        top:586px;
        left: 51%;
        padding-left: 0;
    }
    
}


@media screen and (max-width:560px){
    #contenedor{
        width: 95%;
    }
    #contenedor > nav{   
        width: 90%;
    }
    #nav>p{
        font-size: 13.5px;
    }
    #inicio #nombres{
        width: 50%;
        left:3.8%;
        top:210px;
    }
    .linea-vertical {
        height: 500px;
        top:99px;
        left:20%;
    }

    .linea-horizontal {
        width: 30%;
        top:577px;
        margin: 20px 20%;
    }

    #inicio > #fecha{
        position: absolute;
        top:560px;
        left: 53%;
        font-size: 1.5em;
    }


    #cuentatras{
        top: 600px;
        /*width: 75%;
        margin-left: 7%;*/
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }

    #countdown{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #countdown > div{
        background: transparent;
        flex-basis: 25%;
        box-sizing: border-box;
        padding-left: 10px;
        text-align: center;
        font-size: 0.5em;
    }

    #countdown > div:nth-of-type(1) {
        font-size: 1.5em;
    }
    #countdown > div:nth-of-type(2) {
        font-size: 1.5em;;
    }
    #countdown > div:nth-of-type(3) {
        font-size: 1.5em;;
    }
    #countdown > div:nth-of-type(4) {
        font-size: 1.5em;;
    }

    #h1linea{
        width: 25%;
        left:11.5%;
    }
    #vienes{
        font-size: 1em;
        position: absolute;
        top: 546px;
        left: 50%;
    }


    #otrapersona{
        font-size: 1em; 

    }

    #figelim{
        padding: 2px 8px; /* Tamaño del relleno */
        font-size: 12px; /* Tamaño del texto */
        line-height: 1.5; /* Altura de la línea */ padding: 5px 10px; /* Tamaño del relleno */
    }

    #figelim span{
        font-size: 15px; /* Tamaño del texto */
    }

    /*Asistencia*/

    #wapp{
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding-left: 20%;
    }
    #wapp > h2, #numtel > h2{
        font-size: 15px;
        margin: 0;
    }
    #numtel {
        font-size: 0.8em;
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding-left: 9%;
    }

     /*Iglesia*/


    #ceremonia > h2{
        font-size: 1.2em;
    }
    #ceremonia > h2:nth-of-type(1){
        position: absolute;
        background-color: #ffffff;
        top:542px;
        left:52%;
        width: 150px;
    }
    #ceremonia > h2:nth-of-type(2){
        background-color: #ffffff;
        top:652px;
        left:28%;
    }
    #ceremonia > a{
        background-color: #ffffff;
        top:700px;
        font-size: 1.2em;
        left:29%;
    }

    #ceremonia > span{
        position: absolute;
        font-size: 1.2em;
        z-index: 5;
    }
    #ceremonia > span:nth-of-type(1){
        top:670px;
        left:21%;
    }
    #ceremonia > span:nth-of-type(2){
        top:702px;
        left:21%;
    }

    #LIglesia>#parkings{
        position: absolute;
        top:750px;
        padding: 20px;
    }

    #parkings>p{
        font-size: 1.2em;
        text-align: justify;
    }

    /*Restaurante*/
    #LRest > h2{
        font-size: 1.2em;
        position: absolute;
        top:543px;
        left:52%;
    }

    #pinnom{
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;    
        top: 650px;
        left: 30%;

    }

    
    /*Regalo*/
    #LRegalo > h2{
        font-size: 1.2em;
        margin-top: 0;
        text-align: center;
        top:580px;
    }
    #LRegalo > h2:nth-of-type(1){
        position: absolute;
        text-align: left;
        top:559px;
        left: 51%;
        padding-left: 0;
    }

    #logoA{
        top:80px;
        width: 20%; 
        left: 40%;
    }

    #logoIn{
        top:650px;
        width: 20%; 
        left: 40%;
    }

    #logoIg{
        top:1080px;
        width: 20%; 
        left: 40%;
    }

    #logoR{
        top:720px;
        width: 20%; 
        left: 40%;
    }
    #logoRg{
        top: 640px;
        width: 20%; 
        left: 40%;
    }
}